<a href="https://colab.research.google.com/github/ashirmuhd/DSA/blob/main/get_data_from_diff_sources_casestud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!pip install requests
import requests
import pandas as pd

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.7.9)

#Step 1

In [24]:
#1
launch_url = "https://api.spacexdata.com/v4/launches"
launch_data = requests.get(launch_url).json()

In [25]:
#2
df_launch = pd.DataFrame(launch_data)[['name', 'date_utc', 'success', 'details', 'rocket']]
df_launch

,name,date_utc,success,details,rocket
0,FalconSat,2006-03-24T22:30:00.000Z,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb
1,DemoSat,2007-03-21T01:10:00.000Z,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb
2,Trailblazer,2008-08-03T03:34:00.000Z,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb
3,RatSat,2008-09-28T23:15:00.000Z,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb
4,RazakSat,2009-07-13T03:35:00.000Z,True,None,5e9d0d95eda69955f709d1eb
...,...,...,...,...,...
200,Transporter-6,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec
201,TTL-1,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec
202,WorldView Legion 1 & 2,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec
203,Viasat-3 & Arcturus,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69974db09d1ed
204,O3b mPower 3.4,2022-12-01T00:00:00.000Z,None,None,5e9d0d95eda69973a809d1ec

In [28]:
#3
df_launch['date_utc'] = pd.to_datetime(df_launch['date_utc'])
df_launch['year'] = df_launch['date_utc'].dt.year
df_launch.head()

,name,date_utc,success,details,rocket,year
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009

#Step 2

In [30]:
meta_url = "https://api.spacexdata.com/v4/rockets"
meta_data =  requests.get(meta_url).json()

In [42]:
df_meta = pd.DataFrame(meta_data)[['id', 'name', 'type', 'active','stages' ]]
df_meta.rename(columns={'id': 'rocket'}, inplace=True)
df_meta.head()

                     rocket          name    type  active  stages
0  5e9d0d95eda69955f709d1eb      Falcon 1  rocket   False       2
1  5e9d0d95eda69973a809d1ec      Falcon 9  rocket    True       2
2  5e9d0d95eda69974db09d1ed  Falcon Heavy  rocket    True       2
3  5e9d0d96eda699382d09d1ee      Starship  rocket   False       2

#Step 3

In [43]:
#1
df_merged = pd.merge(df_launch, df_meta, on='rocket', how='left')
df_merged

,name_x,date_utc,success,details,rocket,year,name_y,type,active,stages
0,FalconSat,2006-03-24 22:30:00+00:00,False,Engine failure at 33 seconds and loss of vehicle,5e9d0d95eda69955f709d1eb,2006,Falcon 1,rocket,False,2
1,DemoSat,2007-03-21 01:10:00+00:00,False,Successful first stage burn and transition to ...,5e9d0d95eda69955f709d1eb,2007,Falcon 1,rocket,False,2
2,Trailblazer,2008-08-03 03:34:00+00:00,False,Residual stage 1 thrust led to collision betwe...,5e9d0d95eda69955f709d1eb,2008,Falcon 1,rocket,False,2
3,RatSat,2008-09-28 23:15:00+00:00,True,Ratsat was carried to orbit on the first succe...,5e9d0d95eda69955f709d1eb,2008,Falcon 1,rocket,False,2
4,RazakSat,2009-07-13 03:35:00+00:00,True,None,5e9d0d95eda69955f709d1eb,2009,Falcon 1,rocket,False,2
...,...,...,...,...,...,...,...,...,...,...
200,Transporter-6,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,Falcon 9,rocket,True,2
201,TTL-1,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,Falcon 9,rocket,True,2
202,WorldView Legion 1 & 2,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,Falcon 9,rocket,True,2
203,Viasat-3 & Arcturus,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69974db09d1ed,2022,Falcon Heavy,rocket,True,2
204,O3b mPower 3.4,2022-12-01 00:00:00+00:00,None,None,5e9d0d95eda69973a809d1ec,2022,Falcon 9,rocket,True,2

#Step 4

In [44]:
#1
import random
import numpy as np


countries = ['USA', 'Russia', 'India', 'China', 'France']
df_merged['country'] = np.random.choice(countries, size=len(df_merged))
df_merged['country']

0      Russia
1         USA
2         USA
3       India
4         USA
        ...
200    France
201    France
202       USA
203     India
204    France
Name: country, Length: 205, dtype: object

#Step 5

In [45]:
#1

import sqlite3
conn = sqlite3.connect("spacex_launches.db")
df_merged.to_sql("launches", conn, if_exists="replace", index=False)

205

#Step 6

In [46]:
#1
query1 = "SELECT country, COUNT(*) as num_launches FROM launches GROUP BY country"
print(pd.read_sql(query1, conn))

  country  num_launches
0   China            36
1  France            45
2   India            47
3  Russia            37
4     USA            40

In [47]:
#2
query2 = "SELECT year, COUNT(*) as num_launches FROM launches GROUP BY year ORDER BY num_launches DESC LIMIT 1"
print(pd.read_sql(query2, conn))

   year  num_launches
0  2022            62

In [50]:
#3
query3 = "SELECT name_x as missons, COUNT(*) as launch_count FROM launches GROUP BY name_x ORDER BY launch_count DESC LIMIT 5"
print(pd.read_sql(query3, conn))

                     missons  launch_count
0  ispace Mission 1 & Rashid             1
1                       ZUMA             1
2     WorldView Legion 1 & 2             1
3        Viasat-3 & Arcturus             1
4                    USSF-44             1