<a href="https://colab.research.google.com/github/ashirmuhd/DSA/blob/main/statistics_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Student dataset

In [13]:
import pandas as pd

df = pd.read_csv('/content/StudentsPerformance.csv')

# a
print(df['gender'].value_counts())

gender
female    518
male      482
Name: count, dtype: int64

In [3]:

# b
print(df['parental level of education'].value_counts())

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [4]:

# c
print(df.groupby('gender')[['math score','reading score','writing score']].mean())
print(df.groupby('test preparation course')[['math score','reading score','writing score']].mean())

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [8]:
# d
print(df.groupby('gender')[['math score','reading score','writing score']].std())
print(df.groupby('test preparation course')[['math score','reading score','writing score']].std())

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [14]:
# e
cutoff = df['math score'].quantile(0.75)
top_students = df[df['math score'] >= cutoff]
print("Cutoff Score:", cutoff)
print(top_students)

Cutoff Score: 77.0
     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[255 rows x 8 columns]

2.Sales dataset

In [19]:
import pandas as pd
import math

df = pd.read_csv("Sales_add.csv")

print(df.head(), "\n")

before = df['Sales_before_digital_add(in $)']
after = df['Sales_After_digital_add(in $)']

# Calculate differences
diff = after - before

# Mean of differences
mean_diff = diff.mean()

# Standard deviation of differences
std_diff = diff.std(ddof=1)

# Number of observations
n = len(diff)

# Calculate t-statistic
t_stat = mean_diff / (std_diff / math.sqrt(n))

print("Paired t-test (Manual Calculation):")
print("Mean Difference:", mean_diff)
print("Standard Deviation of Difference:",std_diff)
print("t-statistic:",t_stat)

# Decision at significance level alpha = 0.05
# Critical t-value for df = n-1 ≈ 2.093 (approx for 10 samples)
critical_t = 2.093

if abs(t_stat) > critical_t:
    print("Conclusion: Sales increased significantly after digital marketing.\n")
else:
    print("Conclusion: No significant change in sales.\n")

     Month      Region      Manager  Sales_before_digital_add(in $)  \
0  Month-1  Region - A  Manager - A                          132921
1  Month-2  Region - A  Manager - C                          149559
2  Month-3  Region - B  Manager - A                          146278
3  Month-4  Region - B  Manager - B                          152167
4  Month-5  Region - C  Manager - B                          159525

   Sales_After_digital_add(in $)
0                         270390
1                         223334
2                         244243
3                         231808
4                         258402

Paired t-test (Manual Calculation):
Mean Difference: 81883.77272727272
Standard Deviation of Difference: 31765.63567146979
t-statistic: 12.090705252870173
Conclusion: Sales increased significantly after digital marketing.

In [21]:

#b

cont_table = pd.crosstab(df['Region'], df['Manager'])
print("Contingency Table:\n", cont_table, "\n")

# Calculate expected values
row_totals = cont_table.sum(axis=1)
col_totals = cont_table.sum(axis=0)
grand_total = cont_table.values.sum()

chi_square = 0

for i in cont_table.index:
    for j in cont_table.columns:
        expected = (row_totals[i] * col_totals[j]) / grand_total
        observed = cont_table.loc[i, j]
        chi_square += ((observed - expected) ** 2) / expected

print(f"Chi-Square Value (Manual Calculation): {chi_square:.4f}")

# Critical chi-square value for df = (rows-1)*(cols-1)
# For 3 regions, 3 managers → df = 4
# Critical value ≈ 9.488 at α = 0.05
critical_chi = 9.488

if chi_square > critical_chi:
    print("Conclusion: Region and Manager are dependent (related).")
else:
    print("Conclusion: Region and Manager are independent (not related).")

Contingency Table:
 Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

Chi-Square Value (Manual Calculation): 3.0506
Conclusion: Region and Manager are independent (not related).